.account {
    justify-content: center;
    display: grid;
    padding: 25px;
    width: 100%;
}

.account_info {
    background-color: #fafbfc;
    text-align: center;
    width: 35vw;
    padding: 10px;
}
.info_header {
    margin: 0 0 10px;
}

.account_pricing {
    background-color: #fafbfc;
    text-align: center;
    width: 35vw;
    padding: 10px;
}
.pricing_header {
    margin: 25px 0 0;
}
.pricing_body {
    display: flex;
}
.pricing_body > div {
    flex: 0.5;
    padding: 10px;
}

.avatar {
    vertical-align: middle;
    flex: 1;
    border-radius: 50%;
    margin: 0 0 10px;
}