.board {
    display: flex;
    position: absolute;
    right: 0;
    width: 77.5%;
    height: 600px;
    margin: 0;
    /* border: 1px solid red; */
}

.board__columnsContainer {
    display: flex;
    height: 600px;
    overflow-y: hidden;
    margin: 30px 0 0;
    /* border: 1px solid blue; */
}

.board__header {
    display: flex;
    position: absolute;
    top: 0;
    margin: 10px;
    /* border: 1px solid green; */
}

.column {
    margin: 10px;
    padding: 10px;
    width: 260px;
    height: 500px;
    border-radius: 0 !important;
    background-color: #fafbfc;
    text-align: center;
}

.column__header {
    margin: 0 0 10px;
    display: flex;
}

.columnHeader__name {
    flex: 0.5;
}

.columnHeader__button {
    flex: 0.5;
}

.board_addButton {
    margin: 10px;
}