.board {
    display: flex;
    position: absolute;
    right: 0;
    width: 77.5%;
    height: 600px;
    margin: 0;
}

.board__columnsContainer {
    display: flex;
    height: 600px;
    overflow-y: hidden;
    margin: 30px 0 0;
}

.board__header {
    display: flex;
    position: absolute;
    top: 0;
    margin: 10px;
}

.column__container {
    margin: 10px;
    border-radius: 3px;
    background-color: #FAFBFC;
    border-top: 4px solid var(--yellow);
}

.column {
    padding: 10px;
    width: 260px;
    height: 500px;
    border-radius: 3px;
    background-color: #FAFBFC;
    text-align: center;

}

.column__header {
    margin: 10px 10px 0px;
    display: flex;
    height: auto;
    /* border: 1px solid red; */
}

.columnHeader__name {
    flex: 0.5;
}

.columnHeader__button {
    flex: 0.5;
}

.board_addButton {
    margin: 10px;
}