.board {
    display: flex;
    height: 600px;
    overflow-y: hidden;
}

.board_column {
    margin: 10px;
    width: 260px;
    height: 75vh;
    border-radius: 0 !important;
    background-color: #fafbfc;
}

.board_addButton {
   width: 260px;
   height: 100px;
   margin: 10px;
}