.chat {
    display: flex;
    position: absolute;
    right: 0;
    width: 77.5%;
    height: 100vh;
    margin: 0;
}

.chat__body {
    width: 100vw;
    margin: 10px 0 0 10px;
}

.messageContainer {
    height: 80vh;
    overflow-y: hidden;
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */
