.chat {
    display: flex;
    position: absolute;
    right: 0;
    width: 77.5%;
    height: 100vh;
    margin: 0;
}

.chat_card {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.chat_header {
    display: flex;
}

.chat_header_card {
    flex: 1;
    padding: 0px;
    background-color: #fafafa;
}

.chat_header_card > div {
    margin: 0 0 0 25%;
    display: inline-block;
}

.chat_body {
    margin: 10px 0 0 10px;
}

.chat_message {
    height: 80vh;
    overflow-y: scroll;
    margin: 0;
}
/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */
