.console {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.console_header {
    display: block;
    height: 20vh;
    padding: 25px 25px 0;
}

.button {
    float: right;
}

.console_body {
    height: 80vh;
    padding: 10px 25px 10px;
}