.joblist {
    display: flex;
    height: 100%;
}

.joblist_sidebar {
    flex: 0.2;
    height: 100vh;
    padding: 25px 10px 10px;
}

.joblist_sidebar_textfield {
    
}

.joblist_content {
    flex: 0.8;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 0 25px;
    background: #FAFBFC;
}

.joblist_post {
    margin: 0 25px 25px 0;
    padding: 5px;
    border-radius: 1%;
    max-height: 150px;
    width: 492.5px;
    display: flex;
    background: #FFF;
}

.joblist_post_avatar {
    flex: 0.2;
    width: 20vw;
    height: 20vh;
    margin-right: 10px;
}

.joblist_post_img {
    width: 20vh;
    height: 20vh;
}

.joblist_post_content {
    flex: 0.8;
    height: 20vh;
}