.jobpost {
    padding: 25px 100px 0;
    overflow-y: scroll;
    height: 88.5vh;
}

.jobpost_header {
    margin: 0 0 20px;
}

.jobpost_body {
    margin: 0 0 10px;
}

.input_container {
    margin: 0 0 10px;
    width: 800px;
}

.editor_container {
    overflow-y: scroll;
    border: 1px solid #C4C4C4;
    min-height: 300px;
    resize: vertical;
}

.jobpost_footer {
    margin: 20px 0 25px;
}