.listCard_card {
    margin-bottom: 10px;
    width: 240px;
    height: 100px;
    background-color: var(--blue-hover);
    text-align: left;
    padding: 5px;
    /* border-left: 5px solid var(--yellow); */
}

.listCard_moreButton {
    top: 0;
    right: 0;
    margin-bottom: 0;
}