.listWorkspace_card {
    margin: 10px 0 10px;
    background-color: var(--blue-bg);
    border-left: 5px solid var(--blue);
    padding: 5px;
    border-radius: 0;
}

.listWorkspace_openButton {
    border-radius: 0;
    border-right: 0 !important;
}

.listWorkspace_deleteButton {
    border-radius: 0;
    border-right: 0 !important;
}

.listWorkspace_settingsButton {
    border-radius: 0;
 }