.listWorkspace {
    display: flex;
    border-left: 5px solid #0052CC;
    margin: 0 0 25px;
}

.listWorkspace__left {
    flex: 0.7;
    display: flex;
    background-color: #F5F6F8;
    height: 50px;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.listWorkspace__right {
    flex: 0.3;
    display: flex;
    margin: auto;
}

.listWorkspace__right > div {
    flex: 1;
}

.listWorkspace__button {
    height: 50px !important;
    border-radius: 0 !important;
}

.listWorkspace__text {
    
}