.listCard_card {
    /* border-left: 5px solid var(--green); */
    margin-bottom: 10px;
    width: 220px;
    height: 100px;
}

.listCard_moreButton {
    top: 0;
    right: 0;
    margin-bottom: 0;
}