.--list-card-card {
    margin: 0 0 10px;
    /* margin-bottom: 10px; */
    width: auto;
    height: 100px;
    /* background: #FFF; */
    text-align: left;
    /* padding: 5px; */
    /* border-radius: 3px; */
}