.console {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.console_header {
    height: 20vh;
    padding: 25px 175px 0;
}

.createWorkspace_button {
    float: right;
    width: 250px !important;
}

.console_body {
    height: 80vh;
    padding: 10px 175px 10px;
}