.message {
    display: flex;
    align-items: center;
    margin: 0 0 5px;
    background-color: #fafbfc;
    border-left: 5px solid var(--green);
    padding: 0 5px 0;
}

.message > div {
    margin-right: 5px;
}

.message_avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}