.sidebar {
    display: flex;
    position: absolute;
    left: 0;
    width: 22.5%;
    height: 100vh;
    resize: horizontal;
}

.wpBar {
    height: 100%;
    flex: 0.3;
    background-color: var(--atlassian-blue);
}
.wpBar_button {
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.wpBar_button:hover {
    background-color: indigo;
}
.bottom {
    margin-top: 52vh;
}

.rBar {
    flex: 0.7;
    background-color: red !important;
}