.sidebar {
    display: flex;
    position: absolute;
    left: 0;
    width: 22.5%;
    height: 100vh;
    resize: horizontal;
}

.wpBar {
    height: 100%;
    flex: 0.3;
    background-color: var(--atlassian-blue);
    /* padding: 2.5px; */
}
.wpBar_button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    /* padding: 0 5px 0; */
    margin: 10px 5px 0;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.wpBar_button:hover {
    background-color: #08367C;
}
.bottom {
    margin-top: 52.5vh;
}

.rBar {
    flex: 0.7;
}