.topbar {

}

.topbar__primaryButton {
    color: #0747A6;
    width: 75px;
    font-style: italic;
}

.topbar__roundedButton {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    color: #344563;
}
.topbar__roundedButton:hover {
    background-color: #E8F1FF;
    color: var(--atlassian-blue);
}
