.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar_container {
    background-color: var(--blue);
    color: white !important;
}

.navbar_right {
    position: fixed;
    right: 0;
}

.navbar_button {
    color: white !important;
}