.workdrive {
    justify-content: center;
    place-items: center;
    position: absolute;
    right: 0;
    width: 77.5%;
    height: 100%;
    margin: 0;
    padding: 25px;
    background-color: #fafbfc;
}

.workdrive_header {
    margin: 0 0 10px;
    height: 10vh;
    display: flex;
}
.workdrive_header > div {
    flex: 0.5;
}
.info {
    text-align: center;
}
.uploadButton {
    text-align: right;
}

.workdrive_body {
    border: 4px dashed var(--atlassian-blue);
    height: 80vh;
    display: grid;
    place-content: center;
    border-radius: 1%;
}